* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 70px;
    display: flex;
    justify-content: flex-end;
}

main {
    flex: 1;
}

footer {
    background-color: #e9ebf0;
    height: 120px;
}