* {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
.cuadros img {
    
    width: 2dvh;  
}
header ul li {
    display: inline;
    padding: 4px;
   
}
.logo-google{
   width: 40%;
}
main {
    text-align: center;
}
section {
    display: block;
    justify-content: center;
}
.btn-buscador {
    display: flex;
    text-align: center;
    justify-content: center;
}
#input-buscador {
    box-sizing: border-box;
    color: #191919;
    padding: 10px 10px 10px 10px;
    width: 50%;
}
.icon-buscador{
    display: block;
    justify-content: center;
}
.b4yCbb, .Nw0Dr, .icon-buscador{
    width: 3vh;
}

footer{
    display: block;
    align-content: flex-end;
    
    width: 100%;
}
footer ul {
    display: inline-block;
    margin: 15px 12px;
}
footer ul li {
    display: inline;
    padding: 15px;
}
.mex, .list {
    background-color: #e9ebf0;
}
