footer{
    display: block;
    align-content: flex-end;
    margin-top: 250px;
    width: 100%;
}
footer ul {
    display: inline-block;
    margin: 15px 12px;
}
footer ul li {
    display: inline;
    list-style: none;
    padding: 15px;
}
.mex, .list {
    display: flex;
    background-color: #e9ebf0;
    height: 23%;
    width: 100%;
}
section .fin {
    display: inline-block;
    justify-content: flex-end;
    align-content: flex-end;
    padding-left: 38%;  
}
