@media screen and (max-width: 320px) {
    footer{
        display: inline;
        flex-wrap: nowrap;
        width: 20%;
        height: 0 auto;
        
    }
    
    .mex, .list {
        
        background-color: #e9ebf0;

        

    }
    
    
}

@media screen and (max-width: 700px) {
    footer{
        display: block;
        align-content: flex-end;
        margin-top: 250px;
        width: 100%;
    }
    footer ul {
        display: inline-block;
        margin: 15px 12px;
    }
    footer ul li {
        display: inline;
        padding: 15px;
    }
    .mex, .list {
        background-color: #e9ebf0;
        height: 23%;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    footer{
        display: block;
        align-content: flex-end;
        margin-top: 250px;
        width: 100%;
    }
    footer ul {
        display: inline-block;
        margin: 15px 12px;
    }
    footer ul li {
        display: inline;
        padding: 15px;
    }
    .mex, .list {
        background-color: #e9ebf0;
        height: 23%;
        width: 100%;
    }
}