
.header {
    display: flex;
    margin: 0;
    padding: 0px 10px;
    justify-content: flex-end;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
        
}

.cuadros img {
    width: 2dvh;  
}
header ul li {
    display: flex;
    align-items: flex-end;
    padding: 0px 10px;
    
}

