@media  screen and (max-width: 320px) {
    header {
        display: flex;
        justify-content: center;
        align-content: flex-end;
    }
    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        flex-direction: row;
    }
    .cuadros img {
        width: 2dvb;
    }
    header ul li {
        padding: 4px;
    }

}



@media screen and (max-width: 1200px) {
    

    header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    ul {
        display: flex;
        list-style: none;
        justify-content: center;
    }
    .cuadros img {
        
        width: 2dvh;  
    }
    header ul li {
        display: inline;
        padding: 4px;
    
    }
}
