.section-input-container{
    display: flex;
    width: 100%;
}
.btn-buscador{
    align-content: center;
    width: 150px;
}

.container-input {
    width: 560px;
    margin: 0 auto;
    margin-bottom: 32px;
}

section {
    display: block;
    justify-content: center;
}

.icon-buscador{
    width: 25px;
    position: absolute;
}
.icon-lupa{
    width: 25px;
    position: absolute;
    
}
.container-input{
    position: absolute;
}

#input-buscador{
    width: 250px;
    height: 35px;

}