.container-logo{
  display: block;
}
.logo-google{
  overflow-clip-margin: content-box;
  overflow: clip;
  height: 92px;
  width: 272px;
}
.input-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  
}
.campoBusqueda{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border-radius: 25px;
  background-color: white;
  margin-top: 15px;
  width: 23%;
  height: 35px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.iconBuscador{
  text-align: center;
  display: inline-block;
  width: 25px;
  height: 25px;
}
#inputBuscador{
  outline: none;
  border: none;
}
.buttons {
  display: flex;
  
}
button{
  width: 150px;
  height: 50px;
}

  